<label>Full Name: <input id="name" type="text"></label><br>
<label>Email: <input id="email" type="text"></label><br>
<label>Phone Number: <input id="number" type="text"></label><br>
<label>Issue(brief description): <input id="issue" type="textarea"></label><br>
